h1 {
    font-size: 20px;
    color: rgb(228, 234, 243);
    text-align: left;
    
    font-weight: 100;
    margin: 1rem 0 1rem 2rem;
  }
  
  /* Typewriter effect 1 */
  @keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "S"; }
    2.2791%, 25.0698% { content: "SK"; }
    3.4186%, 23.9302% { content: "SKI"; }
    4.5581%, 22.7907% { content: "SKIL"; }
    5.6977%, 21.6512% { content: "SKILL"; }
    6.8372%, 20.5116% { content: "SKILLS"; }
    
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "E"; }
    33.0465%, 49.0000% { content: "EX"; }
    34.1860%, 47.8605% { content: "EXP"; }
    35.3256%, 46.7209% { content: "EXPE"; }
    36.4651%, 45.5814% { content: "EXPER"; }
    37.6047%, 44.4419% { content: "EXPERANCE"; }
  

  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 10.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
  